@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";

$enable-negative-margins: true;

$primary: #009688;
$secondary: #005996;

$theme-colors: (
	"primary" : $primary,
	"secondary" : $secondary,
	"success" : $success,
	"info" : $info,
	"warning" : $warning,
	"danger" : $danger,
	"light" : $light,
	"dark" : $dark
);

$pagination-color: $primary;
$pagination-active-bg: $primary;
$pagination-active-border-color: $pagination-active-bg;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* GENERAL */

html, body {
	height: 100%;
}

body {
	font-family: "roboto", "open-sans", sans-serif;
}

body#tinymce {
	margin: ($spacer * .75) auto;
    padding: 0 ($spacer * .75);
}

.wrapper {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.wrapper > .main {
	display: flex;
	flex-grow: 1;
	position: relative;
	overflow: hidden;
}

.wrapper > .main > .content {
	overflow-y: auto;
}

@include media-breakpoint-down(lg) {
    .content > .contentInner {
        display: block !important;
    }
}

.btn-primary, .btn-secondary{
	color: var(--bs-white) !important;
}

.collapse-left {
	width: 0 !important;
	white-space: nowrap;
	transition: width .35s ease !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: tint-color($dark, 20);
}

::-webkit-scrollbar-thumb {
	background: $dark;
}

::-webkit-scrollbar-thumb:hover, 
::-webkit-scrollbar-thumb:active {
	background: shade-color($dark, 20);
}

.fancybox-slide--iframe .fancybox-content {
	height: 90vh !important;
}

.fullWidth {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: initial;
}

@include media-breakpoint-up(lg) {
    .main.settings form > .form-group {
        max-width: 50%;
        padding-right: calc(var(--bs-gutter-x) * .5);
    }
}

/* ADMIN LOGIN */

#adminLogin, #setup {
	width: 100%;
	max-width: 768px;
}

#adminLoginPage, #setupPage {
	background-image: url('../images/admin-background.jpg');
	background-color: #00963D;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.formHeader {
	font-size: 100px;
}

/* HEADER */

#pageHeader .logo > img {
	max-width: 40px;
	filter: drop-shadow(0 0 1px var(--bs-white))
}

#pageHeader .h1 {
	font-weight: lighter;
}

.logout {
	text-decoration: none;
}

@include media-breakpoint-down(sm) {
    #pageHeader .row > div:first-child {
        display: none;
    }
    
    .logout {
        width: 100%;
        text-align: center;
        padding-top: map-get($spacers, 1) !important;
        padding-bottom: map-get($spacers, 1) !important;
    }
}

/* SIDEBAR */

.sidebar::-webkit-scrollbar {
	width: 10px;
}

.sidebar::-webkit-scrollbar-track {
	background: tint-color(#607d8b, 20);
}

.sidebar::-webkit-scrollbar-thumb {
	background: #607d8b;
}

.sidebar::-webkit-scrollbar-thumb:hover, 
.sidebar::-webkit-scrollbar-thumb:active {
	background: shade-color(#607d8b, 20);
} 

.sidebar {
	width: 100%;
	max-width: 320px;
	height: 100%;
	background: var(--bs-dark);
	color: var(--bs-white);
	float: left;
	z-index: 999;
	transition: width .7s ease;
	overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sidebar .nav-link {
	color: var(--bs-white);
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: inset 0 0 10px -6px #000;
}

.floatingToggle {
	height: 0;
	overflow: hidden;
	visibility: hidden;
	cursor: pointer;
	text-decoration: none;
	opacity: 0;
	transition: opacity .7s ease;
}

.sidebar.collapse-left .floatingToggle {
	height: auto;
	background: var(--bs-dark);
	color: var(--bs-white);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	padding: $spacer;
	top: $spacer;
	left: $spacer;
	display: flex;
	visibility: visible;
	align-items: center;
	justify-content: center;
	position: absolute;
	opacity: 0.25;
}

.sidebar.collapse-left .floatingToggle:hover {
	opacity: 1;
}

.floatingToggle > span:first-child:not(.fa) {
	display: none;
}

@include media-breakpoint-down(md) {
	.sidebar {
		position: absolute;
		top: 0;
	}
    
    .sidebar.collapse-left {
        overflow: visible;
    }
    
    .sidebar.collapse-left > *:not(#toggleSidebar) {
        display: none;
    }
}

.sidebar #pageFooter {
    margin-top: auto;
    margin-bottom: 0;
    padding-left: map-get($spacers, 2);
    padding-right: map-get($spacers, 2);
}

.sidebar #pageFooter a {
    color: $white;
}

/* ADMIN */

.existingUserBody {
	word-wrap: break-word;
}

.shorten {
	width: 1%;
	white-space: nowrap;
}

.structure.structureItems {
    padding-bottom: $spacer;
}

.navigationLevel > .structureItems {
    margin-left: $spacer;
    padding-bottom: $spacer;
}

.structureItems:not(.structure) > .navigationLevel:first-child {
    margin-top: $spacer;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    min-height: 50vh;
}

.carousel-inner:after {
    content: "";
    display: inline-block;
    padding-top: 40%;
}

.carousel-inner > .carousel-item {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: $spacer;
    background-color: $dark;
}

.carousel-item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    padding-left: map-get($spacers, 2);
    padding-right: map-get($spacers, 2);
}

.carousel-item img.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.carousel-item .carouselTitle,
.carousel-item .carouselTagline {
    color: $white;
    text-shadow: 1px 1px 10px $dark;
    text-align: center;
    position: relative;
    z-index: 1;
}

.carousel-item input.carouselTitle,
.carousel-item input.carouselTagline {
    background: transparent;
    border: 0;
    width: 100%;
    color: $white;
}

.carousel-item input.carouselTitle::placeholder,
.carousel-item input.carouselTagline::placeholder {
    color: $white
}

.carousel .carouselControls {
    position: absolute;
    top: $spacer;
    right: $spacer;
    z-index: 2;
    margin-bottom: map-get($spacers, -1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.carousel .carouselControls .btn {
    opacity: 0.25;
    width: 42px;
    height: 42px;
    margin-left: map-get($spacers, 1);
    margin-bottom: map-get($spacers, 1);
}

.carousel .carouselControls .carouselInput,
.carousel .carouselControls .carouselPicker {
    background: $dark;
    display: inline-block;
    height: 42px;
    width: 150px;
    border-radius: 0 .25rem .25rem 0;
    margin-top: -5px;
    opacity: 0.25;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: map-get($spacers, 1);
}

.carousel .carouselControls .btn.hasInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carousel .carouselControls .btnTop,    
.carousel .carouselControls .btnBottom {    
    display: flex;
}

.carousel .carouselControls .btnTop > span {
    margin-top: 0;
    margin-bottom: auto;
}

.carousel .carouselControls .btnBottom > span {
    margin-top: auto;
    margin-bottom: 0;
}

.carousel .carouselControls .btnVertical > span {
    font-size: 0.75rem;
    display: block;
    margin-top: 5px;
}

.carousel .carouselControls .btnVertical > span:first-child {
    margin-top: -5px;
}

.carousel .carouselControls .btnVertical > span:last-child {
    margin-bottom: -5px;
}

.carousel .carouselControls .carouselPicker {
    width: 50px;
}

.carousel .carouselControls:hover > * {
    opacity: 0.75;
}

.carousel .carouselControls .btn:active,
.carousel .carouselControls .btn:hover,
.carousel .carouselControls .carouselInput:active, 
.carousel .carouselControls .carouselInput:hover,
.carousel .carouselControls .carouselPicker:active,
.carousel .carouselControls .carouselPicker:hover {
    opacity: 1;
}