@import "../bootstrap-5.0.1/scss/_functions.scss";
@import "../bootstrap-5.0.1/scss/_variables.scss";

$enable-negative-margins: true;

$primary: #009688;
$secondary: #005996;

$theme-colors: (
	"primary" : $primary,
	"secondary" : $secondary,
	"success" : $success,
	"info" : $info,
	"warning" : $warning,
	"danger" : $danger,
	"light" : $light,
	"dark" : $dark
);

$pagination-color: $primary;
$pagination-active-bg: $primary;
$pagination-active-border-color: $pagination-active-bg;

@import "../bootstrap-5.0.1/scss/bootstrap.scss";

/* GENERAL */

body#tinymce {
	margin: ($spacer * .75) auto;
    padding: 0 ($spacer * .75);
}

.wrapper {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.wrapper > .main {
    flex-grow: 1;
}

.fullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* HEADER */

.siteTitle {
    color: $light !important;
    text-decoration: none;
}

.siteTitle > .siteName {
    margin-bottom: 0;
}

#pageHeader .contact a {
    text-decoration: none;
}

/* NAVIGATION */

#navbar0 {
    position: relative;
}

li.dropdown {
    position: relative;
}

@include media-breakpoint-up(xl) {
    li.dropdown:hover > .subMenu {
        display: block;
        width: 320px !important;
    }
    
    li.dropdown:not(:hover) > .dropdown-toggle:after {
        transform: rotate(90deg);
    }
}

li.nav-item > .dropdown-toggle:after {
    transition: transform 0.35s ease;
}

.navbar .subMenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    background: shade-color($secondary, 5);
}

.subMenu .nav-link {
    padding-left: $spacer !important;
    padding-right: $spacer !important;
}

.subMenu .dropdown-toggle {
    background-color: shade-color($secondary, 10);
}

@include media-breakpoint-down(xl) {
    #navbar0 > .navbar-collapse {
        position: absolute;
        top: calc(100% + #{$spacer});
        right: calc(var(--bs-gutter-x) / -2);
        width: 100%;
        max-width: 320px;
        background-color: $secondary;
    }
    
    #navbar0 .dropdown-toggle {
        background-color: shade-color($secondary, 10);
        padding-left: $spacer;
        padding-right: $spacer;
    }
    
    .navbar .subMenu {
        position: static;
    }
    
    li.nav-item:not(.exp) > .dropdown-toggle:after {
        transform: rotate(90deg);
    }
    
    li.dropdown.exp > .subMenu {
        display: block;
    }
}

/* FOOTER */

#pageFooter address {
    margin-bottom: 0;
}

#pageFooter .contact a {
    text-decoration: none;
}

#pageFooter .socials .social {
    font-size: 2rem;
    margin-right: $spacer;
}

#pageFooter .socials .social a {
    transition: color 0.35s ease;
}

.social#facebook a {
    color: #1877f2;
}

.social#facebook a:hover,
.social#facebook a:active {
    color: shade-color(#1877f2, 20);
}

.social#twitter a {
    color: #1da1f2;
}

.social#twitter a:hover,
.social#twitter a:active {
    color: shade-color(#1da1f2, 20);
}

.social#youtube a {
    color: #ff0000;
}

.social#youtube a:hover,
.social#youtube a:active {
    color: shade-color(#ff0000, 20);
}

.social#linkedin a {
    color: #2867b2;
}

.social#linkedin a:hover,
.social#linkedin a:active {
    color: shade-color(#2867b2, 20);
}

.social#instagram a {
    color: #673eb8;
}

.social#instagram a:hover,
.social#instagram a:active {
    color: shade-color(#673eb8, 20);
}

/* MAIN */