Options All -Indexes

<Ifmodule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /clover-cms/
	
	#Remove Trailing Slash
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)/$ $1 [L,R=301]
	
	#Remove PHP Extension
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([^.]+)$ $1.php [NC,L]
	
	#Force HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</Ifmodule>