@import "../../../../scss/_variables.scss";

$stripe: #635BFF;
$stripeTest: #EC6805;

.stripeModeBanner {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    border-radius: $border-radius;
    background-color: $stripe;
    color: $white;
    padding: map-get($spacers, 1) map-get($spacers, 2);
    width: auto;
}

.stripeModeBanner#stripeLive {
    background-color: tint-color($success, 25%);
    display: none;
}

.stripeModeBanner#stripeTest {
    background-color: $stripeTest;
}

.btn-stripe {
    background-color: $stripe;
    white-space: nowrap;
    color: $white;
    transition: background-color 0.35 ease-in-out;
}

.btn-stripe:hover,
.btn-stripe:active {
    background-color: shade-color($stripe, 25%);
    color: $white;
}